In [1]:
import pandas as pd

In [2]:
student_dict = {
    "students": ["Mopheshi", "Atachiz", "Morpheus"],
    "scores": [90, 80, 70],
}

In [3]:
student_data = pd.DataFrame(student_dict)
student_data

   students  scores
0  Mopheshi      90
1   Atachiz      80
2  Morpheus      70

In [13]:
for (index, row) in student_data.iterrows():
    if row.students == "Morpheus":
        print(row.scores)

70